/* disables displaying labels that come by default from allauth,
except of label for tick box id_remember */

form label:not([for='id_remember']) {
    display: none;
}

/* ads marigin (bootstrap mt-4) to all input elements from allauth */

form input:not([type='checkbox']) {
    margin-top: 1.5rem; /* mt-4 */
}

.login-background{
    background-color: #95b8d1;
    border-radius: 20px;
    width:fit-content;
    padding: 20px;
}
