{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Content Goes here -->

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/card-game.png' %}" class="d-block w-100" alt="image of card game">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Pharaoh's Match</h1>
                    <p>A interactive and fun card matching game with a Egyptian theme.</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'card_game' %}">Click To Play</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/rock-paper-scissors.png' %}" class="d-block w-100" alt="image of rock, paper, scissors game">
            <div class="container">
                <div class="carousel-caption">
                    <h1>rock, paper scissors</h1>
                    <p>A classic rock, paper, scissors game played against the computer.</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'rock_paper_scissors' %}">Click To Play</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/quiz-game.png' %}" class="d-block w-100" alt="image of quiz game">

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>quizanaughts</h1>
                    <p>A quiz game where you answer questions about space.</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'quizanaughts_game' %}">Click To Play</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/pong-game.png' %}" class="d-block w-100" alt="image of ping pong game">

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>ping pong</h1>
                    <p>A retro game, table tennis type game played against the computer.</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'ping_pong' %}">Click To Play</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/tetris-game.png' %}" class="d-block w-100" alt="image of tetris game">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>tetris</h1>
                    <p>A super retro puzzle game, where you need to stack the pieces on top of each other to clear the lines</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'tetris' %}">Click To Play</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> 

{% endblock %}

{% block postload_js %}
{% endblock %}