{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="">
{% endblock %}
{% block content %}
<div class="container">
  <!-- header of the profile page -->
  <div class="py-5 text-center">

    <h2 class="my-heading-font">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plugin" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 1 2.898 5.673c-.167-.121-.216-.406-.002-.62l1.8-1.8a3.5 3.5 0 0 0 4.572-.328l1.414-1.415a.5.5 0 0 0 0-.707l-.707-.707 1.559-1.563a.5.5 0 1 0-.708-.706l-1.559 1.562-1.414-1.414 1.56-1.562a.5.5 0 1 0-.707-.706l-1.56 1.56-.707-.706a.5.5 0 0 0-.707 0L5.318 5.975a3.5 3.5 0 0 0-.328 4.571l-1.8 1.8c-.58.58-.62 1.6.121 2.137A8 8 0 1 0 0 8a.5.5 0 0 0 1 0Z"/>
          </svg>
        </span>
        My profile
    </h2>
    <p class="lead">Check and update your address information. Manage the list of teams you belong to.
    </p>
  </div>
  <!-- List of the teams the user belongs to   -->
  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-success my-heading-font">Teams
        </span>
        <span class="badge bg-secondary rounded-pill">1
        </span>
      </h4>
      <!-- <ul class="list-group mb-3 teams-list">

          <li class="list-group-item d-flex justify-content-between lh-sm">
            <a class="text-decoration-none text-dark" href="#" title="team name full">
            <div>
              <h6 class="my-0">team name short
              </h6>
              <small class="text-muted">description
              </small>
            </div>
            <span class="text-muted">number of members
            </span>
          </a>
        </li>

      </ul> -->
    </div>
    <div class="col-md-7 col-lg-8">

      <!-- form starts here -->
      <h4 class="mb-3 my-heading-font">Your details
      </h4>
      <form action="{% url 'profile_form_view' %}" method="POST">
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-12">
            {{ form.first_name | as_crispy_field }}
          </div>
          <div class="col-12">
            {{ form.last_name | as_crispy_field }}
          </div>
          

        </div>
        <hr class="my-4">
        <button id="submit-button" class="btn btn-success rounded-pill">
          <span class="font-weight-bold">Update Profile
          </span>
          <i class="bi bi-person-plus-fill">
          </i>
        </button>
      </form>
      <!-- form ends here -->
    </div>
  </div>
</div>
{% endblock %}