
    <footer class="footer mt-auto py-3 bg-warning">
        <div class="container text-center">
          <span class="text-black">Copyright Plugged-in team GitHub: 
            <a class="fw-bold text-dark my-heading-font" target="_blank" href="https://github.com/manni8436">Emanuel,</a>
            <a class="fw-bold text-dark my-heading-font" target="_blank" href="https://github.com/JoGorska">Joanna,</a>
            <a class="fw-bold text-dark my-heading-font" target="_blank" href="https://github.com/Jbachtiger">John,</a>
            <a class="fw-bold text-dark my-heading-font" target="_blank" href="https://github.com/SamHulme1">Sam,</a>
            <a class="fw-bold text-dark my-heading-font" target="_blank" href="https://github.com/van-essa">Vanessa</a>
            and Team Linkedin:
            <a class="fw-bold text-dark my-heading-font" target="_blank" href="https://www.linkedin.com/in/emanuel-da-silva/">Emanuel,</a>
            <a class="fw-bold text-dark my-heading-font" target="_blank" href="https://www.linkedin.com/in/joanna-gorska-759a40210/">Joanna,</a>
            <a class="fw-bold text-dark my-heading-font" target="_blank" href="https://www.linkedin.com/in/john-bachtiger/">John,</a>
            <a class="fw-bold text-dark my-heading-font" target="_blank" href="https://www.linkedin.com/in/sam-hulme-b0a860217/">Sam,</a>
            <a class="fw-bold text-dark my-heading-font" target="_blank" href="https://www.linkedin.com/in/vanessaannamariaandersson/">Vanessa</a>
          </span>
        </div>
      </footer>