<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Plugged-in</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'group_dashboard' %}">Group dashboard</a>
          </li>

          <li>
            <a class="nav-link" href="{% url 'card_game' %}">Card Game</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'rock_paper_scissors' %}">Rock Paper Scissors</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'quizanaughts_welcome' %}">Quizanaughts welcome</a>
          </li>
          
          <li>
            <a class="nav-link" href="{% url 'quizanaughts_game' %}">Quizanaughts game</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'canvas_art' %}">Canvas Art</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'game_5' %}">Game 5</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="{% url 'game_6' %}">Game 6</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile_form_view' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %} 
        </ul>

      </div>
    </div>
  </nav>